{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <style>
        .product-info {
            flex-grow: 1;
            padding: 0 15px;
        }

        .product-actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Cart Contents</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for product in session['cart'] %}
                            <li class="list-group-item d-flex align-items-center">
                                <div>
                                    <img src="{{ product.img_route }}" class="img-fluid rounded img_tile" alt="{{ product.img_route }}">
                                </div>
                                <div class="product-info">
                                    <h5>{{ product.title }}</h5>
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-sm btn-secondary" onclick="updateQuantity('{{ product.id }}', 'decrease')">-</button>
                                        <span class="mx-2">{{ product.quantity }}</span>
                                        <button class="btn btn-sm btn-secondary" onclick="updateQuantity('{{ product.id }}', 'increase')">+</button>
                                    </div>
                                </div>
                                <div class="product-actions">
                                    <span class="badge badge-secondary"> ${{ product.price }}</span>
                                    <button class="btn btn-sm btn-danger" onclick="updateQuantity('{{ product.id }}', 'delete')">&times;</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div>
                            <p>Shipping:&nbsp; </p>
                        </div>
                        <div>
                            <span class="badge badge-secondary"> $9.99</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Total:&nbsp; </p>
                        </div>
                        <div>
                            <span class="badge badge-secondary"> ${{ total_cost }}</span>
                        </div>
                    </div>
                    <a href="{{ url_for('checkout') }}" class="btn btn-primary">Checkout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateQuantity(productId, action) {
            $.ajax({
                url: "/update_cart",
                type: "post",
                data: {productId: productId, action: action},
                success: function(response) {
                    if (response === "not_logged_in") {
                    window.location.href = "/login";
                } else {
                    $("#place_for_flash_alert").html(response);
                    location.reload();
                }}
            });
        }
    </script>
{% endblock %}
