{% extends 'layout.html' %}

{% block title %}Home - My E-Shop{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h2>Welcome to My E-Shop!</h2>
        <p>Here are some products:</p>
    </div>
    <div class="card mb-12 shadow-sm p-2">
        <a href="{{ url_for('category', category='Smartphones') }}">Smartphones >>></a>
        <div class="row">
            {% for product in smartphones  %}
                {% if not loop.index > 3 %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="{{ product['img_route'] }}" alt="{{ product['title'] }}" class="img-fluid rounded img_tile">
                                    </div>
                                    <div class="col-md-7">
                                        <a href="{{ url_for('product', product_id=product['id']) }}" class="h5 d-block">{{ product['title'] }}</a>
                                        <span class="badge badge-secondary "> ${{ product['price'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="card mb-12 shadow-sm p-2">
        <a href="{{ url_for('category', category='Laptops') }}">Laptops >>></a>
        <div class="row">

            {% for product in laptops  %}
                {% if not loop.index > 3 %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="{{ product['img_route'] }}" alt="{{ product['title'] }}" class="img-fluid rounded img_tile">
                                    </div>
                                    <div class="col-md-7">
                                        <a href="{{ url_for('product', product_id=product['id']) }}" class="h5 d-block">{{ product['title'] }}</a>
                                        <span class="badge badge-secondary "> ${{ product['price'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
