.tile {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}



.img_cart_dropdown {
    height: 50px;
    width: auto;
}

.img_tile {
    height: 100px;
    width: auto;
}

.img_product {
    height: 400px;
    width: auto;
}

.product-info {
    flex-grow: 1;
    padding: 0 15px;
}

.product-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1024px) {
    .img_cart_dropdown {
        height: 30px; /* or adjust as needed */
        max-width: 50px; /* responsive max width */
    }

    .img_tile {
        height: auto;
        max-width: 80px; /* scales down for smaller screens */
    }

    .img_product {
        height: auto;
        max-width: 90%; /* fills most of the screen without distortion */
    }
}
