{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Cart Contents</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for product in session['cart'] %}
                            <li class="list-group-item d-flex align-items-center">
                                <div class="col-md-4">
                                    <img src="{{ product.img_route }}" class="img-fluid rounded img_tile center" alt="{{ product.img_route }}">
                                </div>
                                <div class="product-info">
                                    <h5>{{ product.title }}</h5>
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-sm btn-secondary" onclick="updateQuantity('{{ product.id }}', 'decrease')">-</button>
                                        <span class="mx-2">{{ product.quantity }}</span>
                                        <button class="btn btn-sm btn-secondary" onclick="updateQuantity('{{ product.id }}', 'increase')">+</button>
                                    </div>
                                </div>
                                <div class="product-actions">
                                    <span class="badge badge-secondary"> ${{ product.price }}</span>
                                    <button class="btn btn-sm btn-danger" onclick="updateQuantity('{{ product.id }}', 'delete')">&times;</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Summary</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div>
                            <p>Shipping:&nbsp; </p>
                        </div>
                        <div>
                            <span class="badge badge-secondary"> ${{ shipping_cost }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Total:&nbsp; </p>
                        </div>
                        <div>
                            <span class="badge badge-secondary"> ${{ total_cost }}</span>
                        </div>
                    </div>
                    <form action="/checkout" method="get">
                        <input type="hidden" name="shipping_cost" value="{{ shipping_cost }}">
                        <input type="hidden" name="total_cost" value="{{ total_cost }}">
                        <button class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateQuantity(productId, action) {
            $.ajax({
                url: "/update_cart",
                type: "post",
                data: {
                    productId: productId,
                    action: action
                },
                success: function(response) {
                    if (response === "not_logged_in") {
                        window.location.href = "/login";
                    } else {
                        $("#place_for_flash_alert").html(response);
                        location.reload();
                    }
                }
            });
        }
    </script>
{% endblock %}
