<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Welcome to My E-Shop. Your one-stop solution for Smartphones, Laptops, and more.">
        <meta name="keywords" content="E-shop, Smartphones, Laptops, Electronics, Online Shopping">
        <title>{% block title %}My E-Shop{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            $(document).ready(function() {
                var items = {{ session.get('cart', []) | tojson }};
                if (items.length > 0) {
                    items.forEach((item, i) => {
                        let truncatedTitle = item.title.length > 25 ? item.title.substring(0, 25) + "..." : item.title;
                        $('#itemList .list-group').append(
                            `<li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <h6 style="color: black;">${truncatedTitle}</h6>
                                    </div>
                                    <div class="col-md-3">
                                        <span style="color: black;">Quantity: ${item.quantity}</span>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="${item.img_route}" alt="${item.title}" class="img-fluid rounded img_cart_dropdown" style="max-width: 100px;">
                                    </div>
                                    <div class="col-md-2">
                                        <span class="badge badge-secondary">$${item.price}</span>
                                    </div>
                                </div>
                            </li>`
                        );
                    });
                }

                $('#actionButton').hover(function() {
                    // Check if menu is already shown, hide it
                    if ($('#menu_collapse').hasClass('show')) {
                        $('#menu_collapse').collapse('hide');
                    }
                    // Show the cart item list
                    $('#itemList').collapse('show');
                }, function() {
                    // Hide the cart list when mouse leaves
                    $('#itemList').collapse('hide');
                });
                $('#actionButton').on('click', function() {
                    window.location.href = "{{ url_for('cart') }}";
                });
            });
        </script>
    </head>

    <body>
        <header class="bg-dark text-white py-3">
            <div class="container">
                <div class="col text-center">
                    <a class="h1 nav-link text-white" href="{{ url_for('index') }}">My E-Shop</a>
                </div>
                <div class="col-auto ml-auto d-flex align-items-center">
                    <div class="ml-auto d-flex">

                        {% if session.get('username') %}
                            <span class="nav-link text-white">Welcome, {{ session['username'] }}</span>
                            <a class="nav-link text-white" href="{{ url_for('orders') }}">Orders</a>
                            <a class="nav-link text-white" href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-link text-white" href="{{ url_for('login') }}">Login</a>
                            <a class="nav-link text-white" href="{{ url_for('register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <button class="btn btn-outline-primary" type="button" id="menuButton" data-toggle="collapse" data-target="#menu_collapse" aria-expanded="false" aria-controls="menu_collapse">Menu</button>
                    </div>
                    <div class="col-auto ml-auto d-flex align-items-center">
                        <button id="actionButton" class="btn btn-outline-primary">Cart</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="menu_collapse">
                            <div class="card card-body">
                                <a href="{{ url_for('category', category='Smartphones') }}">Smartphones</a>
                                <a href="{{ url_for('category', category='Laptops') }}">Laptops</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="collapse multi-collapse ml-auto" id="itemList">
                    <div class="card card-body">
                        <ul class="list-group"></ul>
                    </div>
                </div>
            </div>
        </div>
        {% for mesg in get_flashed_messages() %}
            <div class="alert alert-dark" role="alert">{{ mesg }}</div>
        {% endfor %}
        <main class="container my-4">
            {% block content %}{% endblock %}
        </main>
        <footer class="bg-dark text-white text-center py-3">
            <p>&copy; 2024 My E-Shop</p>
        </footer>
    </body>

</html>
